/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

/* style body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #208276,
    #048c90,
    #0195a9,
    #2a9cc0,
    #51a2d4,
    #59ace0,
    #61b5ec,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzQFMCgALm3E7_tfqpEM5urTZWgS-mt7D5wg&s"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* main (container) */
main {
  width: 700px;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

/* header kalkulator */
main h1 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 10px;
}

/* style imput celcius dan fahrenheit */
main .input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

main .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: #fefefe;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  border: 2px solid rgba(250, 247, 244, 0.685);
  border-radius: 40px;
  font-size: 23px;
  color: #21130d;
  padding: 20px 45px 20px 20px;
  text-align: center;
  resize: none;
}

.input-box input::placeholder {
  color: darkgrey;
}

.input-box input:hover {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75) inset;
  border: none;
  outline: none;
}

/* dekorasi panah kanan */
.panah i {
  font-size: 40px;
  color: #276873;
  padding-top: 37px;
}

/* logo derajat */
.input-box h4 {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #21130d;
}

/* style button */
main .btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

main .btn .button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  box-shadow: 0px 15px 18px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  transition-duration: 0.1s;
}

.btn .button:hover {
  border-radius: 17px;
  font-size: 21px;
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
  box-shadow: -2px 3px 10px 3px rgba(0, 0, 0, 0.75);
}

.btn .button:active {
  position: relative;
  top: 1px;
}

/* hasil/formula */
main .calculate {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.calculate h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.calculate textarea {
  width: 100%;
  height: 100%;
  background: #eeeee4;
  border: none;
  outline: none;
  border: 2px solid rgba(250, 247, 244, 0.685);
  border-radius: 4px;
  font-size: 20px;
  color: #21130d;
  padding: 20px 45px 20px 20px;
  text-align: center;
  resize: none;
  transition: 0.2s;
}

.calculate textarea:hover {
  background-color: darkgray;
}

/* style rumus */
main .rumus {
  padding-top: 18px;
}
.rumus h2 {
  margin-bottom: 10px;
  text-align: center;
}

.rumus p {
  line-height: 22px;
  text-align: center;
}
